"*":
  "atom-beautify":
    css:
      align_assignments: true
      force_indentation: true
      indent_char: "space"
      selector_separator_newline: true
    general:
      _analyticsUserId: "b332109f-e304-48df-b5cd-f235fe318497"
    handlebars:
      beautify_on_save: true
    json:
      beautify_on_save: true
  core:
    disabledPackages: [
      "linter-scss-lint"
      "linter-pep8"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "node_modules"
      ".git"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  emmet:
    useEmmetComments: false
  "exception-reporting":
    userId: "4f569c6c-d43b-7e62-547f-2b5780a1571a"
  "go-debug":
    panelInitialVisible: false
  "go-plus":
    formatTool: "gofmt"
    goPath: "$HOME/code/golang/:$HOME/code/Ecosia/v4.ecosia.org/"
    showPanelWhenNoIssuesExist: false
  jshint:
    onlyConfig: true
    supportLintingJsx: true
    validateOnlyOnSave: false
  "language-babel":
    allowLocalOverride: true
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
    executablePath: "/Users/med/.rvm/gems/ruby-2.2.1/bin/scss-lint"
  "markdown-preview": {}
  react:
    disableAutoClose: false
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    tabLength: 4
".nginx.source":
  editor:
    tabLength: 4
".sass.source":
  editor:
    autoIndentOnPaste: true
